* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	@include themed() {
		background-color: t('backgroundColor');
	}
}

.container {
	position: relative;
	z-index: 1;
	max-width: pxToRem(540);
	margin: 0 auto;

	padding-top: pxToRem(70);

	@include breakpoint-down(medium) {
		padding: pxToRem(25);
		padding-top: pxToRem(45);
	}
}

.flex {
	display: flex;

	&-jc-sb {
		justify-content: space-between;
	}

	&-jc-c {
		justify-content: center;
	}

	&-ai-c {
		align-items: center;
	}

	&-d-c {
		flex-direction: column;
	}
}

// Visibility
.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}

.hide-for-mobile {
	@include breakpoint-down(medium) {
		display: none;
	}
}
