.hero {
	&__image {
		position: absolute;
		top: 0;

		@include themed() {
			background-image: t('heroMobileImage');

			@include breakpoint-up(small) {
				background-image: t('heroImage');
			}
		}
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: pxToRem(300);
		transition: background-image 400ms ease-out;

		@include breakpoint-down(small) {
			height: pxToRem(200);
		}
	}
}
