input {
	padding: pxToRem(20) pxToRem(15) pxToRem(20) pxToRem(50);
	border-radius: 5px;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	transition: background-color 400ms ease-out;

	@include themed() {
		background-color: t('inputBackground');
		color: t('inputTextColor');
	}

	&::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: $Dark_Grayish_Blue;
		opacity: 1; /* Firefox */
	}

	&:focus {
		outline: none;
	}
}

.inputWrapper {
	position: relative;
	&::before {
		position: absolute;
		top: pxToRem(16);
		left: pxToRem(15);
		content: "";
		border: 1px solid $Dark_Grayish_Blue;
		border-radius: 50%;
		width: pxToRem(18);
		height: pxToRem(18);
	}
}
