.todoList {
	padding-top: pxToRem(20);
	margin-bottom: pxToRem(50);
	transition: box-shadow 400ms ease-in-out;

	@include themed() {
		box-shadow: 0px 35px 50px -15px t('boxShadowColor');
	}

	&__stat {
		display: flex;
		justify-content: space-between;
		padding: pxToRem(20) pxToRem(25);
		@include themed() {
			background-color: t('inputBackground');
		}
		font-size: $font_sm;
		color: $Dark_Grayish_Blue;

		.clearCompleted {
			cursor: pointer;

			&:hover {
				@include themed() {
					color: t('clearColorHover');
				}
			}
		}
	}
}
